extends ../layouts/application.pug
block content
    if tasks.length === 0
        h3.text-muted= t('views.tasks.index.notAnyTasks')
        a.nav-link(href=route('tasks/new'))= t('views.tasks.index.create')
    else
        a.nav-link(href=route('tasks/new'))= t('views.tasks.index.create')
    .card-body.p-2.bg-light
        +formFor()(action=route('tasks'), method='GET')
            h4.text-center= t('views.tasks.index.filter')
            .row
                +filterSelect('executor', users, 'id', 'fullName', filter)
                +filterSelect('labels', labels, 'id', 'name', filter)
                +filterSelect('status', statuses, 'id', 'name', filter)
            .mb-3.form-check
                input.form-check-input(id='data_isCreatorUser' type='checkbox' name='creatorId', value=currentUserId)
                label.form-check-label(for='data_isCreatorUser')= t('views.tasks.index.creatByUser')
            +submit(t('views.tasks.index.show'))
        table.table.table-striped
            thead
                tr
                    th= t('views.tasks.index.id')
                    th= t('views.tasks.index.name')
                    th= t('views.tasks.index.status')
                    th= t('views.tasks.index.author')
                    th= t('views.tasks.index.executor')
                    th= t('views.tasks.index.createdAt')
                    th
            tbody
              each task in tasks
                  tr
                      td= task.id
                      td
                        a(href=route('tasks/view', { id: task.id }))= task.name
                      td= task.status.name
                      td= task.creator.fullName
                      td= task.executor ? task.executor.fullName : t('views.tasks.new.nonExecutor')
                      td= formatDate(task.createdAt)
                      td.d-md-flex
                          a(class='btn-link btn' href=route('tasks/edit', { id: task.id }))= t('views.manage.edit')
                          +buttonTo(route('tasks/delete', { id: task.id }), 'delete')(class='btn-link btn' value=t('views.manage.delete'))
